* {
    font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	text-decoration:none;
	list-style-type:none;
}

body {
    background: #1d1d1d;
}

#first {
    color:#fcfcfc;
    background: #101010;
	height:70px;
    margin-bottom: 50px;
}

#text_shapka {
top:25px ;
position: absolute;
}

#logo {
    margin-top: 10px;
    z-index: 10;
}

ul.secondary-menu {
margin: 0;
padding: 0;
display: inline-block;
width: 200px;
margin-top: 90px;
margin-left: 45px;
}
ul.secondary-menu li {
background: rgba(75, 75, 75, 1);
list-style: none;
position: relative;
border-bottom: 1px solid black;
}
ul.secondary-menu li a {
padding: 0px;
display: inline-block;
font-family: sans-serif;
font-size: 13px;
font-weight: bold;
color: #ef2d2d;
text-decoration: none;
}

#logo_2 {
    margin: 3px;
    padding: 0;
    z-index: 10000;
}

#player, #notplayer, #glav {
    margin-left: 6px;
}

.col-md-4 {
    padding-left: 0;
}


#glavnaya {
    font-size: 25px;
    text-align: center;
    color: #ef4a4a;
    font-weight: bold;
}

#cont_text {
    width: 700px;
    height: 600px;
    background: #aaaaaa;
    margin-left: 60px;
    margin-top: 30px;
    border: 40px solid #505050;
}

#blad {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

table tr td {
    border: 3px solid #5a5a5a;
    background: #ada6d9;
   font-weight: bold;
    text-align: center;
}

table {
    margin: 20px auto;
}
#text_sozdatel {
top:25px ;
position: absolute;
font-size: 12px;
}

td, th {
    padding: 10px;
}

#Nastyaerror {
    margin-top: 22px;
}

