div {
	width:960px;
	margin: 0 auto;
	border: 3px solid white;
}

#shapka {
	background-color:grey;
	height:200px;
}

#kontent {
	width:600px;
	float: left;
	height:600px;
	background-color:#eee;
}

#bokovaya_kolonka {
	width:348px;
	height:600px;
	float: right;
	background-color:#ddd;
}

#podval {	
	clear: both;
	height: 40px;
	background-color:#aaa;
}

#savebaza {
	border: 0px solid grey;
	padding-right:20px;
	width:340px;
	height:300px;
	float:right;
	background-color:grey;
}

#first_name {
	align:right;
}