body {
	background-color:#8671D1;
}

#shapka {
	background-color:#4A3A98;
	position: absolute;
	width:1400px;
	height:45px;
	right:0px;
	top:0px;
}

#auth {
	background-color:#4A3A98;
	position: absolute;
	right:100px;
	top:100px;
	width:320px;
	height:188px;
	border-radius:30px;
}

#reg {
	background-color:#4A3A98;
	position: absolute;
	right:100px;
	top:300px;
	width:320px;
	height:360px;
	border-radius:30px;
}

#podval {
	background-color:#4A3A98;
	position: absolute;
	right:0px;
	top:700px;
	width:1400px;
	height:45px;
}

#kontects {
	background-color:#4A3A98;
	position: absolute;
	right:500px;
	top:100px;
	width:700px;
	height:560px;
	border-radius:30px;
}

#spaceimage {
	position: absolute;
	right:650px;
	top:4px
}

#novayasocialset {
	font-size:22px;
	font-family:arial black;
	position: absolute;
	top: 25px;
	left: 187px;
}

#spaceimagee {
	position: absolute;
	top: 140px;
	left: 50px;
}