* {
    padding: 0;
    margin: 0;
    font-family: 'verdana', sans-serif;
}

.container {
    display: block;
    margin:auto;
    text-align: center;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #b1a3d1;
    text-align: center;
        margin:auto;
    
}

h1 {
    margin-right: 700px;
}

h6{
    color:rgba(0, 0, 0, 0.31);
    margin-right: 500px;
    margin-top: -14px;
}

.main{
    background: #e2d9d9;
    display: inline-block;
    height: 500px;
    width: 45%;
    margin:auto;
}

.main_2{
    background: #a89f9f;
    height: 500px;
    width: 45%;
    margin:auto;
    display: inline-block;
}

/*@media screen and (max-width: 600px) {
     p { background: #fc0; }
   }*/
